.color {
  background-color: grey;
}
h1 {
  text-align: center;
}
.button-container {
  padding: 10px;
}

.grid-container {
  display: grid;
  height: 300px;
  width: 300px;
  padding: 10px;
  border-color: black;
}

.cell {
  margin: 0;
  padding: 0;
}

body {
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-black {
  background-color: black;
}
