.color {
}
h1 {
  text-align: center;
}
.button-container {
  padding: 10px;
}

.grid-container {
  display: grid;
  height: 400px;
  width: 400px;
  border: solid black 2px;
  background-color: whitesmoke;
}

.cell {
  margin: 0;
  padding: 0;
}

body {
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-black {
  background-color: black;
  opacity: 1;
}

.shade-color {
  background-color: black;
}
