h1 {
  text-align: center;
}
.button-container {
  padding: 10px;
}

.grid-container {
  display: flex;
  border-color: black;
  border-style: solid;
  height: 650px;
  width: 650px;
  flex-wrap: wrap;
}
.col {
  height: 650px;
}
.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 1px;
  min-width: 1px;
  border: solid;
}

body {
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colored {
  background-color: none;
}

.shader:hover {
  filter: brightness(25%);
}
